@font-face {
    font-family: "pageFont";
    src: url("./fonts/Niramit-Italic.ttf");
}

body {
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/movie_background.jpg');
}

.question1,
.question2,
.CTA,
.random {
    font-family: "pageFont";
}

.content {
   display: flex;
   flex-direction: column;
}

.CTA {
    font-size: 1.3rem;
}