@font-face {
    font-family: "pageFont";
    src: url("./fonts/Niramit-Italic.ttf");
}

body {
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/movie_background.jpg');
}

.question1,
.question2,
.CTA,
.random {
    font-family: "pageFont";
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.CTA {
    font-size: 1.3rem;
}

.random {
    width: 30%;
    background-color: #D2042D;
    border: 2px solid black;
    font-size: 1.2rem;
    border-radius: 15%;
    font-weight: 200;
}


.question1,
.question2{
 -webkit-text-stroke: #D2042D 1px;
}

.CTA {
    -webkit-text-stroke:#D2042D 0.5px ;
}